@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Josefin+Sans:wght@100&display=swap");
html {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif; }

body {
  background-color: blue;
  margin: 0; }

header {
  background-image: url("/images/bg-desktop-light.jpg"); }

.top__heading {
  margin: 0; }

button {
  border: none;
  background-color: transparent; }

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .top__display-mode--light {
    display: none; }
