@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Josefin+Sans:wght@100&display=swap");
html {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif; }

body {
  margin: 0;
  background-color: #fafafa; }

.top__heading {
  margin: 0; }

.todos__list--item > .todos__layout--input::placeholder {
  color: #25273c;
  font-weight: 700; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent; }

.todos__layout {
  border: solid;
  display: flex;
  flex-direction: row;
  background-color: white; }
  .todos__layout:nth-child(1) {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .todos__layout--input {
    border: none;
    height: 2.5rem;
    width: 100%; }

.todos__new {
  border-radius: 0.25rem;
  margin-bottom: 0.75rem; }

main {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -5rem); }

.todos__list {
  display: flex;
  flex-direction: column;
  gap: .25rem; }

header {
  background-image: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem; }

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto; }
  .top__display-mode--light {
    display: none; }
