@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Josefin+Sans:wght@100&display=swap");
html {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif; }

body {
  margin: 0;
  background-color: #fafafa; }

button {
  color: #777a92;
  font-weight: 700; }

.top__heading {
  margin: 0;
  color: white;
  font-weight: 700; }

.todos__list--item > .todos__layout--input::placeholder {
  color: #25273c;
  font-weight: 700; }

.todos__manage--items-left {
  margin: 0;
  font-size: .75rem;
  color: #777a92;
  font-weight: 700; }

aside {
  font-weight: 700; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent; }

.todos__layout--circle {
  width: 1rem;
  height: 1rem;
  border: solid 1px;
  border-radius: 50%; }

.todos__layout--delete-icon {
  width: .75rem;
  height: auto; }

.filter-box-central > button:nth-child(1) {
  color: blue; }

.todos__layout {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-left: .5rem;
  padding-right: .5rem; }
  .todos__layout--circle {
    margin-top: auto;
    margin-bottom: auto; }
  .todos__layout--input {
    border: none;
    height: 2.5rem;
    width: auto;
    margin-left: .5rem; }
  .todos__layout--delete {
    margin-left: auto; }
  .todos__layout:nth-child(1) {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; }

.todos__new {
  border-radius: 0.5rem;
  margin-bottom: 0.75rem; }

.todos__manage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem .5rem 1rem .5rem;
  margin-top: .15rem;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto; }

.filter-box-central {
  display: flex;
  flex-direction: row;
  gap: .5rem; }
  .filter-box-central--desktop {
    display: none; }
  @media (min-width: 376px) {
    .filter-box-central--desktop {
      display: flex; } }
  .filter-box-central--mobile {
    justify-content: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-top: 1rem; }
  @media (min-width: 376px) {
    .filter-box-central--mobile {
      display: none; } }

main {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -5rem); }

.todos__list {
  display: flex;
  flex-direction: column;
  gap: .15rem; }

header {
  background-image: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem; }

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto; }
  .top__display-mode--light {
    display: none; }

footer {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto; }
  footer aside {
    text-align: center; }
