.todos {
  &__new {
    &--circle {
        width: 1rem;
        height: 1rem;
        border: solid 1px;
        border-radius: 50%;
        margin-top: .75rem;
      }
  }

  &__layout {
    &--delete-icon {
      width: 0.75rem;
      height: auto;
    }
    &--circle {
        width: 1rem;
        height: 1rem;
        border: solid 1px;
        border-radius: 50%;
      }
  }
}

.completed {
  cursor: pointer;
  background-color: red;
}

.filter-box-central {
  & > button:nth-child(1) {
    color: blue;
  }
  & > button:focus{
    color: blue;
  }
}
