.todos__layout{
    &--circle{
        width: 1rem;
        height: 1rem;
        border: solid 1px;
        border-radius: 50%;
    }
    &--delete-icon{
        width: .75rem;
        height: auto;
    }
}

.filter-box-central {
& >button:nth-child(1){
    color: blue;
}
}
