button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.todos__layout{
    &--circle{
        width: 1rem;
        height: 1rem;
        border: solid 1px;
        border-radius: 50%;
    }
    &--delete-icon{
        width: .75rem;
        height: auto;
    }
}