$border-radius: 0.25rem;

.todos {
  &__layout {
    border: solid;
    display: flex;
    flex-direction: row;
    background-color: white;

    padding-left: .5rem;
    padding-right: .5rem;
    &--circle{
      margin-top: auto;
      margin-bottom: auto;
    }

    &--input {
      border: none;
      height: 2.5rem;
      width: auto;
    }

    &--delete{
      margin-left: auto;
    }

    &:nth-child(1) {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

  }

  &__new {
    border-radius: $border-radius;
    margin-bottom: 0.75rem;
  }
}
