button {
  color: $color-dark-grayish-blue;
  font-weight: $font-weight-bolder;
}

.top {
  &__heading {
    margin: 0;
    color: white;
    font-weight: $font-weight-bolder;
  }
}

.todos__list--item > .todos__layout--input {
  &::placeholder {
    color: $color-very-dark-desaturated-blue;
    font-weight: $font-weight-bolder;
  }
}

.todos{
  &__manage{
    &--items-left{
      margin: 0;
      font-size: .75rem;
      color: $color-dark-grayish-blue;
      font-weight: $font-weight-bolder;
    }
  }
}

aside {
  font-weight: $font-weight-bolder;
}
