.btn{
&--light{
  color: $color-dark-grayish-blue;
  &:hover{
    color: black !important;
  }
}
&--dark{
  &:hover{
    color: white !important;
  }
}
}

.text{
  &--light{
  color: $color-dark-grayish-blue;
  }
  &--dark{
    color: white;
  }
}

.body {
  &--light{
    background-color: $color-very-light-gray;
  }
  &--dark{
    background-color: $color-very-dark-blue;
  }
}



.header{
  &--light{
    background-image: url("../images/bg-mobile-light.jpg");
  }
  &--dark{
    background-image: url("../images/bg-mobile-dark.jpg");
  }
}
@media(min-width: 376px){
  .header{
    &--light{
      background-image: url("../images/bg-desktop-light.jpg");
    }
    &--dark{
      background-image: url("../images/bg-desktop-dark.jpg");
    }
  }
}


.todos {
  &__layout {
    &--light {
      background-color: white;
      & > input {
        background-color: white;
      }
    }
    &--dark{
      background-color: $color-very-dark-greyish-blue-2;
      & > input {
        background-color: $color-very-dark-greyish-blue-2;
      }
    }
  }
  &__manage{
    &--light{
      background-color: white;
    }
    &--dark{
      background-color: $color-very-dark-greyish-blue-2;
    }
  }
}

.filter-box {
  &--light {
    background-color: white;
  }
  &--dark{
      background-color: $color-very-dark-greyish-blue-2;
  }
}
