header {
  background-image: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  @include centerAndWidth();
  &__display-mode {
    &--light {
      display: none;
    }
  }
}
